[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ray = "*"
ipykernel = "*"
jupyter = "*"
pyzmq = "*"
notebook = "*"
ipython = "*"
scipy = "*"
networkx = "*"
pymongo = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.8"
